shell {

  display: flex;
  flex-direction: column;

  > header {
    flex-shrink: 0;
  }

  > main {
    flex-grow: 1;
  }
}

section {
  padding: 2rem;
}

error {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  color: @b2;

  text-transform: capitalize;
}